__pycache__/
*.pyc
*.jpg
*.png
*.mp4
*.tar.gz
*.pdf
data.json
see_deploy_*/
analysis_patches/
debug_*/
_*.png
_*.jpg
*.jpg
analyze.*
region_*.jpg
row_*.jpg
section_*.jpg
combined_view.*
enhanced.*
green_*
right_*.jpg
upscaled_*
black_text_*
left_section.*
right_section.*
dd23e11f9613dc1acb0aebd90206159b*
layout_viz.*
dealer.js
embed_labels.py
fonts/CJK.ttc
see-mvp/
see_deploy_副本/
